# ==========================================
# DATABASE (PostgreSQL)
# ==========================================
DATABASE_URL=postgresql://postgres:your_password_here@db:5432/power-paint-db?schema=public&sslmode=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=power-paint-db
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public
POSTGRES_SSLMODE=disable

# ==========================================
# MIGRATOR
# ==========================================
RUN_SEED=false

# ==========================================
# WEB (Next.js Application)
# ==========================================
NODE_ENV=development
WEB_PORT=3000
NEXT_PUBLIC_WS_URL=ws://localhost:3001
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_DEPLOY_URL=https://power-paint-web.vercel.app

AUTH_SECRET=your_auth_secret_here
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret
AUTH_GITHUB_ID=your_github_client_id
AUTH_GITHUB_SECRET=your_github_client_secret

EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_LOGIN=your_email@example.com
EMAIL_PASSWORD=your_email_password

REACT_QUERY_DEVTOOLS_ENABLED=true
NODE_OPTIONS="--dns-result-order=ipv4first"

# ==========================================
# SOCKET (Hocuspocus WebSocket Server)
# ==========================================
SOCKET_PORT=3001
WS_TOKEN_SECRET=your_secret_here
HOCUSPOCUS_DOCUMENTS_TABLE=yjs_documents
DATABASE_SSL_REJECT_UNAUTHORIZED=true